{% extends 'dashboard/dashboard.html' %}

{% block title %}
Cloud Resources
{% endblock %}

{% block header %}
Resources Dashboard
{% endblock %}

{% block content %}

{% if resources %}

    {% for vm in resources %}

    <table border="1px">
        <tr>
            <td>
            Instance id
            </td>
            <td>
            Instance Name
            </td>
            <td>
            Zone
            </td>
        </tr>
        <tr>
            <td>
            {{ vm.id }}
            </td>
            <td>
            {{ vm.name }}
            </td>
            <td>
            {{ vm.zoneId }}
            </td>
        </tr>

    </table>
    {% endfor %}

{% else %}
    <p> No resource found</p>
{% endif %}

{% endblock %}

{% block nav-resouces %} active {% endblock %}
{% block nav-policies %}text-white{% endblock %}
{% block nav-sessions %}text-white{% endblock %}